<mat-dialog-content>
  <button id="back" (click)="closeDialog()" mat-fab>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <!--CARD BEGINS-->
  <mat-card>
    <img mat-card-image src="https://c1.staticflickr.com/4/3226/2359023467_7bb775a717.jpg">
    <div class="center">
      <mat-card-title>
        {{data.product.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{data.product.description}}
      </mat-card-subtitle>
    </div>
    <hr/>

    <!--CARD CONTENT-->
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          ${{this.total}}
          <span class="space-between"></span>
          <button (click)="removeProduct()" color="accent" [disabled]="this.quantity < 2" mat-icon-button>
            <mat-icon>remove_circle</mat-icon>
          </button>
          {{this.quantity}}
          <button (click)="addProduct()" color="accent" mat-icon-button>
            <mat-icon>add_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="custom-divider">
        Milk Required
      </div>
      <mat-list>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedMilk">
          <mat-list-item *ngFor="let type of milk">
            <mat-radio-button (change)="milkChange($event, type.price)" style="width: 100%" labelPosition="before" class="example-radio-button" [value]="type.name">
              {{type.name}} <span class="price-grey" *ngIf="type.price">($ {{type.price}})</span>
            </mat-radio-button>
          </mat-list-item>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="custom-divider">
        Syrup Option
      </div>
      <mat-list>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedSyrup">
          <mat-list-item *ngFor="let season of syrup">
            <mat-radio-button (change)="syrupChange($event, season.price)" style="width: 100%" labelPosition="before" class="example-radio-button" [value]="season.name">
              {{season.name}} <span class="price-grey" *ngIf="season.price">($ {{season.price}})</span>
            </mat-radio-button>
          </mat-list-item>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="custom-divider">
        Chocolade
      </div>
      <mat-selection-list (ngModelChange)="chocoladeChange($event)" [(ngModel)]="selectedOptions" class="chocolate" #chocolatess>
        <mat-list-option [value]="chocolate.name" *ngFor="let chocolate of chocolates">
          {{chocolate.name}} <span class="price-grey" *ngIf="chocolate.price">($ {{chocolate.price}})</span>
        </mat-list-option>
      </mat-selection-list>
      <div style="margin-top: 30px">
        <button (click)="closeDialog()" color="accent" style="width: 100%" mat-raised-button>
          <i class="material-icons checkout-icon">
            add_shopping_cart
          </i>
          ADD {{quantity}} TO CART
          <span class="cart-price">${{this.total}}</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
