<mat-dialog-content>
  <mat-card>
    <img mat-card-image src="../../assets/img/coffee.jpg">
    <div style="text-align: center">
      <mat-card-title>
        Coffee Late Decaf
      </mat-card-title>
      <mat-card-subtitle>
        Freshly ground beans and steamed milk
      </mat-card-subtitle>
    </div>
    <hr/>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          Pepper
          <span style="flex: 1 1 auto;"></span>
          <button mat-icon-button>
            <mat-icon style="color: #ff4081">remove_circle</mat-icon>
          </button>
          1
          <button mat-icon-button>
            <mat-icon style="color: #ff4081">add_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div style="color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03); margin-left: -24px; margin-right:-24px; height:40px;line-height: 3;
    font-weight: bold;
    padding-left: 10px;">
        Milk Required
      </div>
      <mat-list>
        <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
          <mat-list-item *ngFor="let season of seasons">
            <mat-radio-button style="width: 100%" labelPosition="before" class="example-radio-button" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-list-item>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>

      <div style="color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03); margin-left: -24px; margin-right:-24px; height:40px;line-height: 3;
    font-weight: bold;
    padding-left: 10px;">
        Syrup Option
      </div>
      <mat-list>
        <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
          <mat-list-item *ngFor="let season of seasons">
            <mat-radio-button style="width: 100%" labelPosition="before" class="example-radio-button" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-list-item>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
      <div style="color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03); margin-left: -24px; margin-right:-24px; height:40px;line-height: 3;
    font-weight: bold;
    padding-left: 10px;">
        Chocolade
      </div>
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>

      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p>
      <div style="margin-top: 30px">
        <button style="width: 100%" mat-raised-button>
          <i class="material-icons">
            add_shopping_cart
          </i>
          Basic
          200$
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
  <!--<p>What's your favorite animal?</p>-->
  <!--<mat-form-field>-->
    <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
  <!--<h1>{{data.id}}</h1>-->
  <!--<button mat-raised-button matDialogClose>Cancel</button>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
  <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
<!--</div>-->
